@font-face {
    font-family: "Roboto-Bold_1";
    src: url("../fonts/Roboto-Bold_1.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Light_1";
    src: url("../fonts/Roboto-Light_1.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-LightItalic_1";
    src: url("../fonts/Roboto-LightItalic_1.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    overflow: hidden;
    min-width: none;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.Header {
    display: flex;
}

.headInfo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #5973b1;  
}

.headInfo_div1 {
    margin-left: 0.7rem;
}

.headInfo_div2 {
    color: white;
    margin-left: auto;
    margin-right: 10px;
}

.headInfo_div2 h3 {
    height: 0.2rem;
    font-size: 1.3rem;
    font-family: Roboto-Regular;
    margin-top: -0.6rem;
}

.headInfo_div2 a {
    color: lightgrey;
    margin-left: 3.8rem;
}

.plane_banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav_buttons {
    display: flex;
    flex-direction: row;
    margin-top: 2.7rem;
    margin-right: 9rem;
}

.bannerPlane_img {
    margin-top: 1rem;
    margin-right: 3rem;
    width: 70rem;
}

.plane_banner_icons {
    display: flex;
    flex-direction: column;
    height: 7rem;
    justify-content: space-between;
    margin: 1rem 0;
}

.plane_banner_icons_title {
    display: flex;
    flex-direction: column;
    height: 7rem;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-family: Roboto-Regular;
}

.plane_banner_icons img {
    height: 1rem;
    width: 1rem;
}

.tarif_h {
    font-size: 3rem;
    font-family: Roboto-Bold_1;
    text-align: center;
    margin-right: 46rem;
    margin-bottom: 5rem;
}

.tarif_block {
    display: flex;
    justify-content: center;
    margin-left: 17rem;
}

.tarif_block div {
    display: flex;
    flex-direction: column;
    padding: 0 6rem;
}

.tarif_block img {
    margin-left: 6rem;
}

.tarif_block h6 {
    color: black;
    text-align: center;
    font-size: 1rem;
    font-family: Roboto-Regular;
    margin: 40px 0 -5px 0;
}

.tarif_block ul {
    color: #8b8b8b;
    font-family: Roboto-Regular;
    font-size: 1.2rem;
    margin-top: 0px;
}

.tarif_block li {
    margin: 20px 10px 0 0;
    font-size: 1.1rem;
    font-family: Roboto-Light_1;
}

.tarif_block h2 {
    font-family: Roboto-Regular;
    font-size: 5rem;
}

.tarif_block h2:first-letter {
    font-family: Roboto-Regular;
    font-size: 3rem;
}

.tarif_block p {
    width: 18rem;
    text-align: center;
    font-family: Roboto-Regular;
    color: #8b8b8b;
    font-size: 1.3rem;
    padding-top: 1rem;
}

.tarif_block_p2_div {
    width: 13rem;
    border: 0.2px solid lightgray;
    border-radius: 2%;
    border-width: thin;
}

.tarif_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 10px;
    border-radius: 50%;
    background-color: #5972b1;
}

.latest_news {
    font-size: 3.8rem;
    font-family: Roboto-Bold_1;
    text-align: center;
    margin-right: 32rem;
}

.news_block {
    display: flex;
    justify-content: center;
    margin-left: 14rem;
}

.news_block_images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40rem;
    width: 10rem;
    
}

.ball_images img {
    width: 10rem;
    height: 10rem;
}

.news_block_messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40rem;
    width: 70rem;
    margin-left: 1.5rem;
}

.news_block_messages a {
    color: #a2a2a2;
    font-family: Roboto-Light_1;
}

.news_block_messages h4 {
    margin-top: 0.7rem;
    font-family: Roboto-Medium;
}

.news_block_messages p {
    margin-top: 1.7rem;
    font-family: Roboto-Light_1;
    font-size: 1.2rem;
}

.paginator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
}

.paginator img {
    height: 0.7rem;
    width: 0.4rem;
    margin-top: 0.25rem;
}

.paginator a {
    color: grey;
    margin: 0rem 0.8rem;
}

.paginator button {
    border: white solid 0;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    margin: 0rem 0.4rem;
}

.footer {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: #5972b1;
}

.footer_text {
    font-family: Roboto-Light_1;
    width: 13.5rem;
    height: 4rem;
    margin-left: 10px;
    margin-top: 14px;
}

.footer_text ins {
    font-family: Roboto-Bold_1;
}

.footer_text_a2 {
    font-family: Roboto-Bold_1;
}

.footer_logo {
    margin: auto 0;
}

.footer_social_icons {
    display: inline-block;
    justify-content: space-around;
    margin-right: 15px;
}

.footer_social_icons a {
    font-family: Roboto-Medium;
    margin-top: 10px;
}

.footer_social_icons_block  {
    font-family: Roboto-Medium;
}

.footer_social_icons_block span {
    font-family: Roboto-Medium;
    position: relative;
    right: 25px;
    height: 20px;
    width: 20px;
    margin: 15px 4px;
    background: white;
    border-radius: 50%;
}

.footer :nth-child(1) {
    font-size: small;
    color: white;
}

.ic {
    position: relative;
    right: 25px;
    margin: 15px 4px;
}
