.content {
    max-width: 1100px;
    margin: 0 auto;
}

.firstBlock {
    margin-bottom: 0;
}

.secondBlock {
    height: 40rem;
    background-color: #001821;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    justify-content: space-between;
    padding-top: 2rem;
}

.logo img {
    height: 2.5rem;
    width: 6.25rem;
    left: 0;
}

.menu {
    margin-right: 22rem;
    padding-top: 1rem;
}

.menu span {
    color: white;
    margin: 0 1.5rem;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color: #e61810;
}

.contacts {
    color: white;
    font-style: normal;
}

.contacts-tel {
    font-size: 1.7rem;
    margin-bottom: 0.25rem;
}

.contacts-workHours {
    margin-left: 4.5rem;
    text-decoration: underline;
}

.hero__content {
    color: white;
    margin-top: 10rem;
}

.hero__content h1 {
    height: 10rem;
    width: 32rem;
    font-size: 4.8rem;
}

.hero__content p {
    font-size: 1.3rem;
    font-weight: lighter;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.btn.more {
    background-color: #F5170E;
    color: white;
}


.btn {
    border: 1px solid #F5170E;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 35px;
    padding: 18px 30px;
    background-color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #F5170E;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.btn:hover {
    background-color: #da0100;
    box-shadow: 0 0 1.5rem 0 #1b1b21;
}

.tours {
    width: 1170px;
    margin-bottom: 9rem;
}

.tours__list {
    padding: 0;
}


.tours__list--item {
    min-height: 452px;
    min-width: 360px;
    display: inline-block;
    background-color: white;
    margin-right: 5x;
    border-radius: 0.5rem;
    margin-right: 25px;
}

.tours__list--item:last-child{
    margin-right: 0;
}

.tours__title {
    margin-top: 14rem;
    margin-bottom: 3rem;
}

.tours__title span {
    color: white;
    font-size: 2.2rem;
    margin: 0 3px;
}

.tours__content--title {
    font-weight: bold;
    font-size: 2rem;
    padding: 1.8rem 1rem;
    padding-bottom: 1.5rem;
}

.tours__content p {
    margin: 2rem 1.25rem;
    max-width: 19rem;
}

.tours__content a {
    margin: 2rem 1.25rem;
}

* {
    box-sizing: border-box;
}

.tours__advantages {
    display: flex;
    flex-direction: row;
}

.tours__advantages--image {
    min-width: 120px;
    margin-left: 1.25rem;
    margin-right: 1rem;
}

.tours__advantages--image span {
    position: relative;
    top: -5px;
    left: 4px;
    color: #666666;
}

.newsAndActions h2 {
    color: white;
    font-size: 2.2rem;
}

.posters {
    display: flex;
}

.poster_card {
    margin-right: 2rem;
}

.poster_card:last-child {
    margin-right: 0;
}

.poster_card_picture img{
    height: 390px;
    width: 550px;
}

.poster_card-info {
    color: white;
}

.paginator {
    max-width: 500px;
    margin: 0 auto;
    color: #fff;
}

.paginator__display {
    position: relative;
    width: 125px;
    height: 20px;
    font-family: OpenSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin-right: 25px;
    margin-top: 57px;
}

.paginator__list, .paginator__item, .paginator__display {
    display: inline-block;
}

.paginator__item {
    padding: 0 14px;
}

.paginator__list {
    padding-left: 0;
}

.paginator__item.paginator__item--active {
    background-color: #353358;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
    font-weight: bold;
    padding-right: 20px;
}

.paginator__link {
    font-family: OpenSans-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.about__background {
    width: 490px;
    height: 505px;
    display: inline-block;
}

.about__background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 152px;
}

.wrapper.about{
    min-width: 1170px;
    margin: 0;
    margin-bottom: 106px;
}

.about__content {
    display: inline-block;
    background-image: url(img/about/mountains.jpg);
    background-position: center;
    background-size: cover;
    width: 785px;
    min-height: 455px;
    position: relative;
    margin-left: 353px;
    margin-bottom: -47px;
    margin-top: -210px;
}

.about__subtitle {
    font-family: Open Sans;
    font-size: 36px;
    font-weight: 700;
    color: black;
    width: 103px;
    margin-left: 81px;
    margin-top: 70px;
    border-radius: nullpx;
}

.about__text {
    width: 502px;
    height: 135px;
    margin-left: 81px;
    margin-top: 37px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: black;
}

.about__button {
    border: 1px solid #F5170E;
    box-sizing: border-box;
    border-radius: 35px;
    padding: 18px 30px;
    background-color: red;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    margin-top: 43px;
    margin-left: 81px;
}

.footer {
    font-size: 14px;
    min-width: 1170px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 57px;
    background: url(img/backgrounds/bottom-pic.jpg) no-repeat bottom center;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__logo {
    align-items: center;
    display: inline-block;
}

.site-nav {
    display: inline-block;
    position: relative;
    align-items: center;
}

ul, li {
    list-style-type: none;
}

.site-nav__item {
    display: inline-block;
    margin-left: 74px;
}

.site-nav__link_active {
    color: crimson;
}

.site-nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: OpenSans-Regular;
}

.site-nav__link:hover {
    color: #e61810;
}

.footer__col--align--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__socials {
    margin: 0 74px;
}

.site-adrees__schedule {
    width: max-content;
    margin-left: auto;
}
.site-address__link, .site-adrees__schedule {
    color: #fff;
    text-decoration: none;
}

.site-address__link {
    font-size: 26px;
    line-height: 35px;
    text-decoration: none;
}

.social-list__item {
    display: inline-block;
    margin-right: 10px;
}

.social-list__link::before, .social-list__link::after {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    justify-content: center;
    top: 0;
    transition: .3s;
}

.social-list__link {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.social-list__link_telegramm::before {
    content: url(img/icons/t.png);
}

.social-list__link_telegramm::after {
    content: url(img/icons/t2.png);
}

.social-list__link_vk::before {
    content: url(img/icons/vk.png);
}

.social-list__link_vk::after {
    content: url(img/icons/vk2.png);
}

.social-list__link_in::before {
    content: url(img/icons/in.png);
}

.social-list__link_in::after {
    content: url(img/icons/in2.png);
}

.social-list__link_fb::before {
    content: url(img/icons/f.png);
}

.social-list__link_fb::after {
    content: url(img/icons/f2.png);
}